<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Main">
            <file phpVersion="5.4.0" phpVersionOperator=">=">./tests/ClosureTest.php</file>
        </testsuite>
        <testsuite name="Serialize">
            <file phpVersion="7.1.0" phpVersionOperator="&lt;">./tests/SerializeTest.php</file>
        </testsuite>
        <testsuite name="Signed">
            <file phpVersion="5.4.0" phpVersionOperator=">=">./tests/SignedClosureTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>